@import "mixins/mixins";
@import "common/var";

@include b(select-tree) {
  position: relative;
  cursor: default;
  background: $--color-white;
  color: $--tree-font-color;

  .el-input__inner {
    cursor: pointer;
  }

  .is-focus .el-input__inner {
    border-color: #409EFF;
  }

  .el-tag__close.el-icon-close {
    background-color: #C0C4CC;
    color: #909399;;
    flex-shrink: 0;

    &:hover {
      color: #FFFFFF;
      background-color: #909399;
    }
  }

  @include e(control) {}

  @include e(menu) {}

  @include e(list) {}

  @include e(list-item) {

  }

  @include e(option) {
    display: flex;
    align-items: center;
    height: 32px;
    &:hover {
      background-color: #F5F7FA;
    }

    @include m(selected){
      color: #409EFF;
      font-weight: bold;
    }

    @include m(highlight) {
      background-color: #F5F7FA;
    }

    @include m(disabled) {
      color: #C0C4CC;
      cursor: not-allowed;
    }

    @include m(hide) {
      display: none;
    }

    @include m(matched) {
      &.is-flat-result {
        padding: 0 15px !important;
      }
    }
  }

  .arrow {
    display: table-cell;
    vertical-align: middle;
    width: 24px;
    text-align: center;
    line-height: 0;
  }

  @include e(option-arrow-container) {
    @extend .arrow;
  }

  @include e(option-arrow-placeholder) {
    @extend .arrow;
  }

  @include e(icon-item) {
    cursor: pointer;
    color: #C0C4CC;
    font-size: 12px;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
    padding: 6px;
  }

  @include e(option-arrow--rotated) {
    transform: rotate(90deg);
  }

  @include e(label) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: table-cell;
    padding-left: 5px;
    max-width: 100%;
    vertical-align: middle;
    cursor: inherit;
  }

  @include e(label-container) {
    font-size: 14px;
    flex: 1;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    table-layout: fixed;
    color: inherit;
    display: flex;
    align-items: center;
  }

  @include e(caret) {
    color: #C0C4CC;
    font-size: 14px;
    transition: transform .3s;
    transform: rotateZ(180deg);
    cursor: pointer;

    &.is-reverse {
      transform: rotateZ(0deg);
    }
  }

  @include e(tags) {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .el-tag {
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    background-color: #f0f2f5;
    display: flex;
    max-width: 100%;
    align-items: center;
  }

  @include e(checkbox) {
    display: block;
    margin: auto;
    width: 12px;
    height: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    position: relative;
    transition: all .2s cubic-bezier(.075,.82,.165,1);

    @include m(unchecked) {
      border-color: #e0e0e0;
      background: #fff;
    }

    @include m(indeterminate) {
      border-color: #039be5;
      background: #039be5;
    }
  }

  @include e(checkbox-container) {
    display: table-cell;
    width: 20px;
    min-width: 20px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
  }

  @include e(tip-text) {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: #999;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;

    &.is-left {
      text-align: left;
    }
  }

  @include e(loading-icon) {
    height: 13px;
    margin: 0 4px;
  }

  @include e(retry) {
    cursor: pointer;
    display: inline-block;
    margin-left: 4px;
  }

  @include e(value-multi) {
    position: relative;
  }
}
